<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="modified.dobjanschi.a.pattern"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoadedImageActivity"/>

        <activity android:name=".activity.LoadedContentActivity"/>

        <service
            android:name=".service.MainIntentService"
            android:exported="false" />

        <service
            android:name=".service.MainService"
            android:exported="false" />

        <service
            android:name=".service.ServiceWithRxJava"
            android:exported="false" />

        <provider
            android:name=".database.DatabaseProvider"
            android:authorities="ru.itis.lectures.db"
            android:exported="false" />
    </application>

</manifest>
